<nav >
    <div id="menu-options">
        <div class="Menu-button" (click)="toggleSideNav() ">
            <i class="bi bi-list white-item"></i>

        </div>
        <div class="Menu-opened-windows"> 
             
                <div *ngFor="let item of openedWindows" class="OpenedMenuItems"  [ngClass]="{'activeMenuItem': item.active}" (click)="navigate(item)">
                    {{item.name}}
                </div>
            

        </div>
    </div>
    <div id="notifications-user">
        <div class="notifications" (click)="toggleNotificationBox()"><i class="bi bi-bell-fill white-item" ></i><span class="notification-count" *ngIf="notifications.length>0" >{{notifications.length}}</span></div>
        <div class="user  " (click)="toggleUserBox()"><span class="white-item" >{{username}} </span> <i class="bi bi-person-circle " style="font-size: large;color:orange"></i></div>
    </div>

</nav>

<div id="notifications-box" *ngIf="notificationBoxIsOpen">
    <h4 >Notifications</h4>
    <hr>
    <div class="notification-item" *ngFor="let notification of notifications">
        <div class="">
            <i style="color: rgb(52, 255, 119);" class="bi bi-check-square-fill"></i> {{notification.testMessage}}
        </div>

    </div>
     

</div>

<div id="user-options-box" *ngIf="userBoxIsOpen">
    <h4 >User section</h4>
    <hr>
    <div class="user-option-item"  (click)="navToSettings()">
        <div class="content">
            <i class="bi bi-gear"></i> Settings
        </div>

    </div>
    <div class="user-option-item" (click)="signOut()">
        <div class="content">
            <i class="bi bi-box-arrow-right"></i> Logout
        </div>

    </div>
    

</div>

<div id="side-bar" *ngIf="sideNavIsOpen">
     
     
    <div class="side-option-item">
        <div class="" style="display: flex;justify-content: center;">
            <form [formGroup]="searchInput">
            <input class="search-input" (keypress)="onTyping()" formControlName="search">
        </form>
        </div>

    </div>
    <hr><br><br>
    <div class="side-option-item" *ngIf="!menuBoxIsOpen">
        <div class="content" (click)="toggleMenuBox()" >
             
            <i class="bi bi-menu-button"></i> Menu
        </div>

    </div>
    <div class="side-option-item">
        <div class="content" (click)="toggleSideNav()">
            <i class="bi bi-x-lg"></i> Close
        </div>

    </div>
    

</div>

<div id="menu-box" *ngIf="menuBoxIsOpen">
     
     
     
     
    <div class="menu-option-item lv1menu"  *ngFor="let menuOption of  allMenuOptions " >
        <div class="content"    >

             
            <details>
                <summary>{{menuOption.name}}</summary>
                <div class="menu-option-item submenu submenu-item" *ngFor="let menuOption of  menuOption.subMenu " >
                    <div class="  submenu-item"   (click)="openingAMenu(menuOption)">
            
                        <h4>{{menuOption.name}}</h4>
                        <p>{{menuOption.path}}</p>
                         
                        
                    </div>
            
                </div>

                 
            </details>
            
        </div>

    </div>

    <div class="menu-option-item">
        <div class="content" style="color: white;" (click)="toggleSideNav()">
            <i class="bi bi-x-lg"></i> Close menu
        </div>

    </div>
    

</div>
 
