<div class="operation-section" >
    <form [formGroup]="operationForm" (ngSubmit)="onsubmit()">
    <div class="operation-tool-bar">
        <div class="input-container">
            <input type="text" placeholder="Search...">
            <button  type="button" *ngIf="showSearch"><i class="bi bi-search" ></i></button>


            <button (click)="handleSearch()" type="button"><i class="bi bi-search" *ngIf="!showSearch"></i><i class="bi bi-journal-plus" *ngIf="showSearch"></i></button>
            <button *ngIf="!showSearch"   (click)="unlockForm()" [disabled]="!lockForm"><i class="bi bi-file-earmark-plus"></i></button>
            <i class="bi bi-lock"  *ngIf="lockForm &&!showSearch" style="color: orange;"></i>
            <i class="bi bi-unlock" *ngIf="!lockForm && !showSearch" style="color: orange;"></i>
        </div>
        <div class="operation-control" *ngIf="!showSearch" >
            
            <button type="submit" [disabled]="lockForm" [ngClass]="{'disabled-save-button':lockForm}"><i class="bi bi-file-earmark-check"></i></button>
            <select class="operation-status" formControlName="statut" [disabled]="lockForm" [ngClass]="{'disabled-save-button':lockForm}"  >
              
                <option value="0" class="draft">draft</option>
                <option value="1">submit</option>
            </select>
            

        </div>
         
    </div>
     
    <div class="operation-options-nav">
        <div class="option-item" (click)="handleShowForm()">
            Operation
        </div>
        <div class="option-item">
            Frais
        </div>
        <div class="option-item">
            Evenements
        </div>
        <div class="option-item" (click)="displayOperationDetails(true)">
            Complement d'operation
        </div>
         

         
    </div>









<!-- form below-->





<!-- pricipale option form-->


<div *ngIf="formVisibile &&!showSearch">

    <div class="operation-form">
        



        <div class="operation-form-section">

            <label for="type-operation">Type d'operation:</label>
           <select id="type-operation" name="type-operation" [disabled]="lockForm" formControlName="typeop">
           <option value="0">Buy Equity Share</option>
           <option value="1">Sell Equity Share</option>
           </select><br><br>

           <label for="fond">Fond:</label>
           <select id="fond" name="fond" [disabled]="lockForm" formControlName="fundid">
           <option value="{{fund.id}}" *ngFor="let fund of funds">{{fund.code}} || {{fund.name}}</option>
            
           </select><br><br>

           <label for="compte-entite">Compte entite:</label>
           <select id="compte-entite" [disabled]="lockForm" name="compte-entite">
           <option value="compte1">Compte 1</option>
           <option value="compte2">Compte 2</option>
           </select><br><br>
 
  <label for="date-operation">Date d'operation:</label>
  <input type="date" id="date-operation" [disabled]="lockForm" name="date-operation" formControlName="date_op"><br><br>

        </div>





        <div class="operation-form-section">






            <label for="type-operation">Portefeuille:</label>
            
  <select id="type-operation" name="type-operation" [disabled]="true" formControlName="walletid">
     
     
    <option value="{{wallet.id}}" *ngFor="let wallet of wallets">{{wallet.code}} ☆  {{wallet.name}}</option>
  </select><br><br>

  <label for="fond">Depositaire:</label>
  <select id="fond" name="fond" [disabled]="lockForm">
    <option value=""></option>
     
    <option  value={{tiers.id}} *ngFor="let tier of depositaires">{{tier.code}} ☆  {{tier.name}}</option>
     
  </select><br><br>

  <label for="compte-entite">Compte Contrepartie:</label>
  <select id="compte-entite" name="compte-entite" [disabled]="lockForm">
    <option value="compte1">Compte 1</option>
    <option value="compte2">Compte 2</option>
  </select><br><br>

  <label for="date-operation">Date d'valeur:</label>
  <input type="date" id="date-operation" name="date-operation" [disabled]="lockForm" formControlName="date_val"><br><br>



        </div>





        <div class="operation-form-section">




            <label for="type-operation">Contrepartie *</label>
  <select id="type-operation" name="type-operation" [disabled]="lockForm">
    <option value=""></option>
     
    <option  value={{tiers.id}} *ngFor="let tier of contreparties">{{tier.code}} ☆  {{tier.name}}</option>
  </select><br><br>

  <label for="fond">Intermediaire:</label>
  <select id="fond" name="fond" [disabled]="lockForm">
    <option value=""></option>
     
    <option  value={{tiers.id}} *ngFor="let tier of banks">{{tier.code}} ☆  {{tier.name}}</option>
    
  </select><br><br>

   



        </div>
    

    </div>






    


    <div class="operation-form bg-2">



        <div class="operation-form-section">

            <label for="type-operation">Quantite *</label>
           <input type="number"  [disabled]="lockForm" formControlName="quantite" (input)="typing()" >
           <br><br>

           <label for="fond">Position:</label>
           <input type="number" [disabled]="lockForm"><br><br>

            <br><br>
 
  

        </div>





        <div class="operation-form-section">






            <label for="type-operation">Prix *</label>
            <input type="number" [disabled]="lockForm" formControlName="price" (input)="typing()">
  <br><br>

  


        </div>





        <div class="operation-form-section">




            <label for="montant-brut">Montant Brut:</label>
            <input id="montant-brut" type="number" [disabled]="lockForm" readonly [value]="montant"  ><br><br>

  <label for="fond">Devise:</label>
  <select id="fond" name="fond" [disabled]="lockForm">
    <option value="MAD">MAD</option>
    <option value="USD">USD</option>
  </select><br><br>

   



        </div>

    </div>
</div>
<!--             UPPPDDATE-->  
<div class="operations-outter-container" *ngIf="showSearch">
  <div class="operations-inner-container">
   <app-table [operations]="operations" [ShowOerationDetail]="ShowOerationDetail" (operationPickedId)="setPickedOperationId($event)" (open)="displayOperationDetails($event)" ></app-table>
  </div>
</div>

 
<div *ngIf="pickedOperationId!=0&&showSearch">
  <div   [ngClass]="detailedOperation.status=='SUBMIT' ? 'edit-operation-header' : 'edit-operation-header-draft'" >
  <h2 > <i class="bi bi-card-text"></i>: {{detailedOperation.id}} <i class="bi bi-person-fill"></i> : {{detailedOperation.createdby.username}} </h2>
  <div class="edit-header-controls" ><button    style="color:black">Confirmer la modification<i class="bi bi-pencil-square" style="color:black"></i></button><select *ngIf="detailedOperation.status!=='SUBMIT'"><option></option></select></div>
</div>
    <div class="operation-form" >
        



        <div class="operation-form-section bg-2" >

            <label for="type-operation">Type d'operation </label>
           <input type="text" value="{{detailedOperation.type}}" disabled >
            <br><br>

           <label for="fond">Fond:</label>
           <input type="text" value="{{detailedOperation.fund.code+'|'+detailedOperation.fund.name}}" disabled >

           <br><br>

           <label for="compte-entite">Compte entite:</label>
           <select id="compte-entite" [disabled]="lockForm" name="compte-entite">
           <option value="compte1">Compte 1</option>
           <option value="compte2">Compte 2</option>
           </select><br><br>
 
  <label for="date-operation">Date d'operation:</label>
  <input type="text" id="date-operation" name="date-operation" value="{{detailedOperation.op_date}}" disabled><br><br>

        </div>





        <div class="operation-form-section bg-2">






            <label for="type-operation">Portefeuille:</label>
            
            <input type="text"  name="date-operation" value="{{detailedOperation.wallet.code+'|'+detailedOperation.wallet.name }}" disabled><br><br>

  <label for="fond">Depositaire:</label>
  <select id="fond" name="fond" [disabled]="lockForm">
    <option value=""></option>
     
    <option  value={{tiers.id}} *ngFor="let tier of depositaires">{{tier.code}} ☆  {{tier.name}}</option>
     
  </select><br><br>

  <label for="compte-entite">Compte Contrepartie:</label>
  <select id="compte-entite" name="compte-entite" [disabled]="lockForm">
    <option value="compte1">Compte 1</option>
    <option value="compte2">Compte 2</option>
  </select><br><br>

  <label for="date-operation">Date d'valeur:</label>
  <input type="text" id="date-operation" name="date-operation" value="{{detailedOperation.val_date}}" disabled><br><br>



        </div>





        <div class="operation-form-section bg-2">




            <label for="type-operation">Contrepartie *</label>
  <select id="type-operation" name="type-operation" [disabled]="lockForm">
    <option value=""></option>
     
    <option  value={{tiers.id}} *ngFor="let tier of contreparties">{{tier.code}} ☆  {{tier.name}}</option>
  </select><br><br>

  <label for="fond">Intermediaire:</label>
  <select id="fond" name="fond" [disabled]="lockForm">
    <option value=""></option>
     
    <option  value={{tiers.id}} *ngFor="let tier of banks">{{tier.code}} ☆  {{tier.name}}</option>
    
  </select><br><br>

   



        </div>
    

    </div>






    


    <div class="operation-form bg-2">



        <div class="operation-form-section bg-2">

            <label for="type-operation">Quantite *</label>
           <input type="number"  value="{{detailedOperation.quantity}}" formControlName="quantite" (input)="typing()">
           <br><br>

           <label for="fond">Position:</label>
           <input type="number" [disabled]="lockForm"><br><br>

            <br><br>
 
  

        </div>





        <div class="operation-form-section bg-2">






            <label for="type-operation">Prix *</label>
            <input type="number" [disabled]="lockForm" formControlName="price" (input)="typing() " value="{{detailedOperation.price}}">
  <br><br>

  


        </div>





        <div class="operation-form-section bg-2">




            <label for="montant-brut">Montant Brut:</label>
            <input id="montant-brut" type="number" [disabled]="lockForm" readonly [value]="montant" value="{{detailedOperation.gross_amount}}" ><br><br>

  <label for="fond">Devise:</label>
  <select id="fond" name="fond" [disabled]="lockForm">
    <option value="MAD">MAD</option>
    <option value="USD">USD</option>
  </select><br><br>

   



        </div>

    </div>
</div>
</form>



<app-details *ngIf="displayDetails"  (closed)="displayOperationDetails($event)"></app-details>

</div>



