.search-bar{
    background-color: black;
    padding: 10px 20px;
 }
 .search-bar>button{
    background-color: orange;
    padding: 5px 20px;
 }
 #input{
    background-color: rgb(70, 70, 70);
    padding: 5px;
    border-radius: 30px;
    margin-right: 20px;
    color: orange;
    outline: none;
    
    
    
     
    

 }
 #input:focus{
    border: 1px orange solid;
 }
.filter-details>summary{
    margin-top: 5px;
    padding-left: 20px;
    background-color: orange;
    width: 5%;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 20px;

}
.filter-details>div>input[type=text]{
    background-color: rgb(70, 70, 70);
    width: 10%;
    border-radius: 30px;
    padding-left: 5px;
    margin-right: 20px;
    padding: 5px;

}
.wrapper{
    background-color:rgb(70, 70, 70) ;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0px 10px;
    margin-right: 20px;
    
    border-radius: 30px;
}
.wrapper>input[type=checkbox]{
    
    background-color: red;
     
}

.filters-box label{
    color: aliceblue;
    font-size: 14px;
    margin-right: 20px;
     
    
     
     
}