<div class="search-bar">
    <input type="text" placeholder="Code de portefeuille" id="input" >
    <button type="submit"><i class="bi bi-search"></i></button>
     
    
    <details class="filter-details"> 
    <summary>Filters</summary>
    <div class="filters-box">
        <input type="text" placeholder="Nom de portefeuille">
        <input type="text" placeholder="Perimetre de visibilite">
        <div style="display: inline-block;" class="wrapper">
            <label>Status:</label>
            <span> Draft</span><input type="checkbox">
            <span> Submit</span><input type="checkbox">
        
        </div>
        <div style="display: inline-block;" class="wrapper">
            <label>etat:</label>
            <span> Active</span><input type="checkbox">
            
        
        </div>
        
        
    </div>
    </details>

</div>