<div class="detail-container" >
    <button class="close-btn" (click)="closeDetail()">X</button>
    <div class="detail op-display" >
        <div  *ngIf="type=='o'">
        <div class="details-header"><div class="id-operation header-item"><i class="bi bi-card-heading"></i> °: {{operation.id}}{{type}}</div> <div class="date-operation header-item">Date operation: {{operation.op_date}} </div> <div class="date-operation header-item">Date valeur: {{operation.val_date}} </div>    </div>
        <div class="detail-part">
            <details>
                <summary>Prix/Quantite</summary>
                <div class="detail-div">

                   <div class="qt-pr-gm"> <div class="span-qt num">{{operation.quantity}}(quantite)</div><div class="span-op">x</div>  <div class="span-pr num">{{operation.price}}(prix)</div><div class="span-op">=</div> <div class="span-gm num">{{operation.gross_amount}}mad</div></div>

                </div>
            </details>
            

        </div>
        <div class="detail-part">
            <details>
                <summary>PorteFeuille</summary>
                <div class="detail-div">
                    <table class="table-portfeuille">
                        <th></th>
                        <tr class="code-tr"><td>Code:</td> {{operation.wallet.code}}<td></td></tr>
                        <tr><td>Nom:</td> {{operation.wallet.name}}<td></td></tr>
                        <tr><td>Active:</td> {{operation.wallet.active}}<td></td></tr>
                    </table>


                </div>
            </details>
            

        </div>
        
        
        <div class="detail-part">
            <details>
                <summary>Fond</summary>
                <div class="detail-div">
                    <table class="table-portfeuille">
                        <th></th>
                        <tr class="code-tr"><td>Code:</td> <td>{{operation.fund.code}}</td></tr>
                        <tr><td>Nom:</td> <td>{{operation.fund.name}}</td></tr>
                        <tr><td>Active:</td> <td>{{operation.fund.active}}</td></tr>
                    </table>

                </div>
            </details>
            

        </div>
        <div class="detail-part">
            <details>
                <summary>Entite Tiers</summary>
                <div class="detail-div">
                    <table class="table-portfeuille" *ngFor="let et of operation.thirdPartyEntities ">
                        <th></th>
                        <tr class="code-tr"><td>Code:</td> <td>{{operation.fund.code}}</td></tr>
                        <tr><td>Type:</td> <td><span *ngIf="et.bank">Banque </span> <span *ngIf="et.custodian">Depositaire </span> <span *ngIf="et.counterparty">Contrepartie </span></td></tr>
                        <tr><td>Nom:</td> <td>{{et.name}}</td></tr>
                        <tr><td>Active:</td> <td>{{operation.fund.active}}</td></tr>
                    </table>

                </div>
            </details>
            

        </div>

        




    </div>

    <div>
        <div class="detail-div" *ngIf="type=='t'">
            <div class="header"> Entite Tiers</div>
            <table class="table-portfeuille" *ngFor="let et of operation.thirdPartyEntities ">
                
                <tr class="code-tr"><td>Code:</td> <td>{{operation.fund.code}}</td></tr>
                <tr><td>Type:</td> <td><span *ngIf="et.bank">Banque </span> <span *ngIf="et.custodian">Depositaire </span> <span *ngIf="et.counterparty">Contrepartie </span></td></tr>
                <tr><td>Nom:</td> <td>{{et.name}}</td></tr>
                <tr><td>Active:</td> <td>{{operation.fund.active}}</td></tr>
            </table>

        </div>
        <div class="detail-div" *ngIf="type=='w'">
            <div class="header"> Portefeuille  </div>
            <div class="detail-div">
                <table class="table-portfeuille">
                    <th></th>
                    <tr class="code-tr"><td>Code:</td> {{operation.wallet.code}}<td></td></tr>
                    <tr><td>Nom:</td> {{operation.wallet.name}}<td></td></tr>
                    <tr><td>Active:</td> {{operation.wallet.active}}<td></td></tr>
                </table>


            </div>
    </div>
    <div class="detail-div" *ngIf="type=='f'">
        <div class="header"> Fond  </div>
        <div class="detail-div">
            <table class="table-portfeuille">
                <th></th>
                <tr class="code-tr"><td>Code:</td> {{operation.fund.code}}<td></td></tr>
                <tr><td>Nom:</td> {{operation.fund.name}}<td></td></tr>
                <tr><td>Active:</td> {{operation.fund.active}}<td></td></tr>
            </table>


        </div>
</div>
</div>

 
</div>