.detail-container{
    height: 100vh;
    background-color: rgb(255, 121, 31,0.6);
     
     

    width:100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
}
.detail{
    background-color: rgb(44, 44, 44);
    height: 80%;
    width: 80%;
    
}
.close-btn{
    position: absolute;
    top:10%;
    left:89%;
    background-color: orange;
    padding:5px;
}