.detail-container{
    height: 100%;
    background-color: rgb(255, 121, 31,0.6);
    
     
     

    width:100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
}
.detail{
    background-color: rgb(44, 44, 44);
    color: white;
    height: 90%;
    width: 90%;
    
}
.fund-detail{
    background-color: rgb(255, 0, 0);
    width: 300px;
    height: 300px;
}
.close-btn{
    position: absolute;
    top:5%;
    left:94%;
    background-color: orange;
    padding:5px;
}
.op-display{
    


}