<div class="dashboard-container">
    <h1>Dahboard</h1>
    <div class="dashboard-header">
        <div class="dashboard-header-item regular-item"></div>
        <div class="dashboard-header-item regular-item"></div>
        <div class="dashboard-header-item regular-item"></div>
        <div class="dashboard-header-item primary-item"></div>
    </div>

    <br><br>
    <div class="dashboard-body">
        <div class="dashboard-body-item tickets"></div>
        <div class="dashboard-body-item analytics"></div>

    </div> 
</div>