<div class="dashboard-container">
    <h1>Dashboard</h1>
    <div class="dashboard-header">
        <div class="dashboard-header-item regular-item"> <p>0</p></div>
        <div class="dashboard-header-item regular-item"><p>0</p></div>
        <div class="dashboard-header-item regular-item"><p>0</p></div>
        <div class="dashboard-header-item primary-item"><p>0</p></div>
    </div>

    <br><br>
    <div class="dashboard-body">
        <div class="dashboard-body-item tickets">
            <div class="chart-container line">
                <canvas  id="MyChart" >{{ chart }}</canvas>
          </div>
        </div>
        <div class="dashboard-body-item analytics">
            <div class="chart-container pie">
                <canvas  id="MyChart2" >{{ chart2 }}</canvas>
          </div>
        </div>

    </div> 
</div>