<div class="dashboard-container">
    <h1>Dahboard</h1>
    <div class="dashboard-header">
        <div class="dashboard-header-item regular-item"> <p>🚧</p></div>
        <div class="dashboard-header-item regular-item"><p>🚧</p></div>
        <div class="dashboard-header-item regular-item"><p>🚧</p></div>
        <div class="dashboard-header-item primary-item"><p>🚧</p></div>
    </div>

    <br><br>
    <div class="dashboard-body">
        <div class="dashboard-body-item tickets"><p>🚧</p></div>
        <div class="dashboard-body-item analytics"><p>🚧</p></div>

    </div> 
</div>