/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;400&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";
body, html {
    margin: 0;
    padding: 0;
    background-color: #202020;
    font-family: Changa;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }