.table{
    background-color: #343434;
    color: white;
    max-height: 300px;
    overflow: scroll;

    

}
table{
    width: 200%;
}
thead{
    position: sticky;
    top: 0px;
}
td,th{
    padding: 10px 20px;
    text-align: center;

}
thead{
    background-color: rgb(26, 26, 26);
}
button{
    background-color: orange;
    
    margin-left: 10px;
    outline: none;
}
button:hover{
    background-color: rgb(167, 108, 0);
    outline: none;
     
    
    margin-left: 10px;
}


i{
    font-size: 20px;
     
}
