 
 
form{
    width: 100%;
     
     
     
     
}
.form-container{
    width: 30%;
    margin: 0 auto;
    background-color: rgba(38, 38, 38, 0.8); 
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
     
     
    
     
     
     

}

.form-group{
     
     
    margin-bottom: 15px;
    padding: 0px;
    width: 100%;
    margin: 0 auto;
    padding-left: 2%;
    margin-top: 15px;
     
}
.text-label {
    display: block;
    
  }
  input[type="text"],
  input[type="password"] {
     
    width: 90%;
    padding: 5px;
    font-family: "Changa";
    
     
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  select{
    width:93%;
    padding: 8px;
    background-color: #595959;
    color: #ccc;
     
    border-radius: 4px;
  }
  section{
    
     
     padding-top: 150px;
     background-image: url('https://images.pexels.com/photos/4550102/pexels-photo-4550102.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: slideshow;
  animation-duration: 60s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
  height: 80%;

  }
  @keyframes slideshow {
    0% {
      background-image: url('https://images.pexels.com/photos/4550102/pexels-photo-4550102.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    }
    33.33% {
      background-image: url('https://images.pexels.com/photos/3162049/pexels-photo-3162049.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    }
    66.66% {
      background-image: url('https://images.pexels.com/photos/273209/pexels-photo-273209.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load');
    }
    100% {
      background-image: url('https://images.pexels.com/photos/998499/pexels-photo-998499.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    }
  }
  
  label{
    color: rgb(255, 255, 255);
  }
  .submit-button{
    background-color: orange;
    font-family: "Changa";
     
    width: 94%;
  }
   